out
dist
node_modules
.vscode-test/
*.vsix

infos/
PROMPT.md
TODO.md

test_workspace/test_project/*
!test_workspace/test_project/scribe/
test_workspace/test_project/scribe/logs/

yarn-error.log

example_scribe_folder/logs/